In [1]:
import pandas as pd
import numpy as np

In [2]:
# Загружаем ваш файл в переменную `file` / вместо 'example' укажите название свого файла из текущей директории
file = 'C:/Users/astoi/Desktop/Нейро/Задание_1_база_3.xlsx'

# Загружаем spreadsheet в объект pandas
xl = pd.ExcelFile(file)

# Печатаем название листов в данном файле
print(xl.sheet_names)


data = xl.parse('База')
region = xl.parse('general_code = region')
plan = xl.parse('plan = discount')
code = xl.parse('code')
print(data.head())
print(region.head())
print(plan.head())
print(code.head())

['База', 'Образец', 'plan = discount', 'general_code = region', 'code']
   Предложение        Регион     Телефон
0  Минимум 30%  БАШКОРТОСТАН  6130021463
1  Минимум 30%  БАШКОРТОСТАН  2135106034
2  Минимум 30%  БАШКОРТОСТАН  1378124088
3  Минимум 30%  БАШКОРТОСТАН  1724240160
4  Минимум 30%  БАШКОРТОСТАН  5280821188
                 region   general_code
0    Ивановская область    _IVN_15_all
1   Ярославская область    _YAR_15_all
2                Казань  _KAZAN_15_all
3      Набережные Челны    _NAB_15_all
4  Республика Татарстан  _TATAR_15_all
      plan  discount
0      all        15
1    calls        20
2  minimum        30
      region_old               region_new region_code
0   БАШКОРТОСТАН  Республика Башкортостан      _BASH_
1   СВЕРДЛ. ОБЛ.     Свердловская область     _SVERD_
2        ХАКАСИЯ       Республика Хакасия     _HAKAS_
3  ТУЛЬСКАЯ ОБЛ.         Тульская область      _TULA_
4       УДМУРТИЯ    Удмуртская Республика     _UDMUR_

In [3]:
plan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   plan      3 non-null      object
 1   discount  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [4]:
data_new = xl.parse('Образец')
data_new = data_new[data_new.phone == 0]
data_new.head()

Empty DataFrame
Columns: [phone, plan, region, discount, general_code]
Index: []

In [5]:
data_new.plan = data.Предложение
data_new.phone = data.Телефон
data_new.region = data.Регион
data_new['plan'].unique()

array(['Минимум 30%', 'Звонки 20%', 'Все 15%'], dtype=object)

In [6]:
for i in range(len(data_new['plan'])):
    if data_new['plan'][i] == 'Минимум 30%':
        data_new['plan'][i] = 'minimum'
        data_new['discount'][i] = plan['discount'][2]
    elif data_new['plan'][i] == 'Звонки 20%':
        data_new['plan'][i] = 'calls'
        data_new['discount'][i] = plan['discount'][1]
    elif data_new['plan'][i] == 'Все 15%':
        data_new['plan'][i] = 'all'
        data_new['discount'][i] = plan['discount'][0]
#     else:
#         data_new['plan'][i] = 'Error'
#         data_new['discount'][i] = 'Error'
    
print(data_new.head())
print(len(data_new['region'].unique()))
print(len(region['region'].unique()))
print(data_new['discount'].unique())

C:\Users\astoi\AppData\Local\Temp/ipykernel_900/1839902470.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['plan'][i] = 'minimum'
C:\Users\astoi\AppData\Local\Temp/ipykernel_900/1839902470.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['discount'][i] = plan['discount'][2]
C:\Users\astoi\AppData\Local\Temp/ipykernel_900/1839902470.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['plan'][i] = 'calls'
C:\Users\astoi\AppData\Local\Temp/ipykernel_900/1839902470.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['discount'][i] = plan['discount'][1]
C:\Users\astoi\AppData\Local\Temp/ipykernel_900/1839902470.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['plan'][i] = 'all'
C:\Users\astoi\AppData\Local\Temp/ipykernel_900/1839902470.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['discount'][i] = plan['discount'][0]

        phone     plan        region  discount general_code
0  6130021463  minimum  БАШКОРТОСТАН      30.0          NaN
1  2135106034  minimum  БАШКОРТОСТАН      30.0          NaN
2  1378124088  minimum  БАШКОРТОСТАН      30.0          NaN
3  1724240160  minimum  БАШКОРТОСТАН      30.0          NaN
4  5280821188  minimum  БАШКОРТОСТАН      30.0          NaN
39
84
[30. 20. 15.]

In [7]:
data_new[['discount']] = data_new[['discount']].astype(int)
data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   phone         764 non-null    int64
 1   plan          764 non-null    object
 2   region        764 non-null    object
 3   discount      764 non-null    int32
 4   general_code  0 non-null      object
dtypes: int32(1), int64(1), object(3)
memory usage: 27.0+ KB

In [8]:
for i in range(len(data_new['region'])):
    for r in range(len(code['region_old'])):
        if data_new['region'][i] in code['region_old'][r]:
            data_new['region'][i] = code['region_new'][r]
            data_new['general_code'][i] = (code['region_code'][r] + str(data_new['discount'][i]) + '_' +
                                           data_new['plan'][i])
            continue

print('УНИКАЛЬНЫХ РЕГИОНОВ', len(data_new['region'].unique()))
print(data_new['region'].unique())
print(data_new.head())

C:\Users\astoi\AppData\Local\Temp/ipykernel_900/2740922129.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['region'][i] = code['region_new'][r]
C:\Users\astoi\AppData\Local\Temp/ipykernel_900/2740922129.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['general_code'][i] = (code['region_code'][r] + str(data_new['discount'][i]) + '_' +

УНИКАЛЬНЫХ РЕГИОНОВ 39
['Республика Башкортостан' 'Свердловская область' 'Республика Хакасия'
 'Тульская область' 'Удмуртская Республика' 'Республика Коми'
 'Рязанская область' 'Республика Марий Эл' 'Кировская область'
 'Ямало-Ненецкий автономный округ'
 'Санкт-Петербург и Ленинградская область' 'Республика Саха (Якутия)'
 'Калужская область' 'Тамбовская область' 'Ростовская область'
 'Республика Карелия' 'Хабаровский край' 'Чукотский автономный округ'
 'Республика Бурятия' 'Ивановская область' 'Чувашская Республика'
 'Набережные Челны' 'Адыгея' 'Краснодарский край' 'Республика Мордовия'
 'Архангельская область' 'Приморский край' 'Брянская область'
 'Республика Алтай' 'Самарская область' 'Республика Ингушетия' 'Казань'
 'Республика Татарстан' 'Орловская область' 'Чеченская Республика'
 'Камчатский край' 'Сочи' 'Ставропольский край' 'Забайкальский край']
        phone     plan                   region  discount      general_code
0  6130021463  minimum  Республика Башкортостан        30  _BASH_30_minimum
1  2135106034  minimum  Республика Башкортостан        30  _BASH_30_minimum
2  1378124088  minimum  Республика Башкортостан        30  _BASH_30_minimum
3  1724240160  minimum  Республика Башкортостан        30  _BASH_30_minimum
4  5280821188  minimum  Республика Башкортостан        30  _BASH_30_minimum

In [9]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   phone         764 non-null    int64
 1   plan          764 non-null    object
 2   region        764 non-null    object
 3   discount      764 non-null    int32
 4   general_code  764 non-null    object
dtypes: int32(1), int64(1), object(3)
memory usage: 27.0+ KB

In [21]:
data_true =  data_new.loc[(data_new.phone > 999999999) & (data_new.phone < 10000000000)]
data_error = data_new.query('phone not in @data_true.phone')
data_error

,phone,plan,region,discount,general_code
64,88615012486,minimum,Республика Коми,30,_KOMI_30_minimum
151,474101112,minimum,Ямало-Ненецкий автономный округ,30,_YAMAL_30_minimum
240,303301813,minimum,Тамбовская область,30,_TAMBOV_30_minimum
321,318007641,calls,Чувашская Республика,20,_CHUVA_20_calls
494,55040561883,all,Самарская область,15,_SAMAR_15_all
641,77516767462,all,Камчатский край,15,_KAMCH_15_all
759,74105042,all,Забайкальский край,15,_ZABAIKAL_15_all

In [22]:
data_true.to_excel('C:/Users/astoi/Desktop/Нейро/Загрузочник.xlsx')
data_error.to_excel('C:/Users/astoi/Desktop/Нейро/Ошибки.xlsx')